h1 {
    background: #6ed3e0;
    color: #1010b0;
}
p {
    background: #b978e5;
    color: #430180;
}
ul {
    background: #efe78a;
    color: #105d0a;
}
h2 {
    background: #7ddeb9;
    color: #135285;
}